body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaf-container {
  width: 100%;
  height: 100%;
}

.custom-alert {
  position: fixed;
  margin: 10px;
  border-radius: 10px;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%, 0%);
}

.custom-card {
  position: fixed; 
  bottom: 35px; 
  right: 35px; 
  z-index: 1000;
}